<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>CSV</title>
</head>
<body>
    <h2>Import CSV to MongoDB & Display data from MongoDB</h2>
    <button class="button">Import CSV</button>
    <button class="button">Show Data</button>
<div style="overflow-x:auto;">
  <table>
    <tr>
      <th>Medicine Name</th>
      <th>Batch Number</th>
      <th>Expiry Date</th>
      <th>Balance Quantity</th>
      <th>Packaging</th>
      <th>Unique Code</th>
      <th>Scheme</th>
      <th>MRP</th>
      <th>Manufacturer</th>
      <th>HSN Code</th>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td>94</td>
      <td>94</td>
      <td>94</td>
      <td>94</td>
      <td>94</td>
      <td>94</td>
      <td>94</td>
    </tr>
    <tr>
      <td>Adam</td>
      <td>Johnson</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
    </tr>
  </table>
</div>
</body>
</html>