<!-- Header -->
<%- include('includes/_header') %>
<!-- /Header -->
<div style="overflow-x:auto;">
    <table>
      <thead>
        <tr>
          <th>Medicine Name</th>
          <th>Batch Number</th>
          <th>Expiry Date</th>
          <th>Balance Quantity</th>
          <th>Packaging</th>
          <th>Unique Code</th>
          <th>Scheme</th>
          <th>MRP</th>
          <th>Manufacturer</th>
          <th>HSN Code</th>
        </tr>
      </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>
    <%- include('includes/_show') %>
<!-- Footer -->
<%- include('includes/_footer') %>
<!-- /Footer -->